<div class="container">
    <h1>SavvyDev</h1>
    <p>Signin into our Project<p>
    <div class="row">
        <div class="col-md-6">
           
            <form>
                <div class="row">
                    <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>

                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                      </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-lg border-primary">Signin</button>
                        </div>
                    </div>
                    <p>Don't have account? <a href="#" >Create one</a></p>
                    <a href="#">Forgot Password?</a>
                </div>
                </form>
</div>
<div class="col-md-6">
    <h3 class="text-center">Go with Social!</h3>
    <p class="text-center text-muted">Get started with ypur Social Acccounts</p>
    <div class="row">
        <div class="col-md-12">
            <a href="#" class="btn btn-lg btn-block btn-social btn-google"><i class="fa fa-google"></i> Google</a>
        </div>
        <div class="col-md-12">
            <a href="#" class="btn btn-lg btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
        </div>
       </div></div></div>
</div>
